/* body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  background: linear-gradient(to bottom, #121212, #121212, #491813) no-repeat;
  background-attachment: fixed;
  color: hsl(0, 0%, 100%);
}

.App {
  margin: 5rem;
}

.btn {
  border: 0;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #00D869;
  color: #242424;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
}


.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.inputText {
  outline: none;
  width: 70%;
  border: 2px solid #121212;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #242424;
  border-radius: 1rem 0 0 1rem;
  color: #ccc;
}

.inputSelect {
  outline: none;
  border: 2px solid #121212;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #242424;
  color: #ccc;
  border-radius: 0;
}

.inputBtn {
  border: 2px solid #121212;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #00D869;
  color: #242424;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}


.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loadingContainer {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.loadingSpinner {
  border: 6px solid #00D869;
  border-top: 6px solid #12121200;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.songLinkContainer {
  color: inherit;
  text-decoration: none;
}
.songCardContainer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.songCardContainer:hover {
  background-color: #0e0e0e;
  padding: 1rem;
}
.songCardContent {
  display: flex;
  align-items: center;
}
.songImg {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}
.songName {
  margin: 0;
  color: #eee;
}
.songArtists {
  margin: 0;
  margin-top: 5px;
  color: #aaa;
}
.songRemoveBtn {
  border: 1px solid #ccc;
  background-color: #00d86800;
  color: #ccc;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.songRemoveBtn:hover {
  cursor: pointer;
  background-color: #000;
}
*/



body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 2rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Navbar */
.layout_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout_left {
  display: flex;
  align-items: center;
}

.layout_logo {
  height: 3rem;
  margin-right: 1rem;
}

.layout_btn_login {
  padding: 0.8rem 2rem;
  color: #121212;
  background-color: #00D869;
  border-radius: 4rem;
  border: 0;
  font-size: 1.2rem;
}

.layout_btn_login:hover {
  background-color: #29b36c;
  cursor: pointer;
}

.layout_btn_logout {
  padding: 0.8rem 2rem;
  color: #121212;
  background-color: #F5F5F5;
  border-radius: 4rem;
  border: 0;
  font-size: 1.2rem;
}

.layout_btn_logout:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.layout_children {
  margin: 2rem 0;
}

.layout_right {
  display: flex;
  align-items: center;
}

.layout_user_details {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.layout_user {
  margin-bottom: 5px;
  font-weight: 500;
}

.layout_email {
  color: #ccc;
  font-weight: 300;
}

.layout_user_initial {
  margin: 0 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00D869;
  border-radius: 50%;
  color: #121212;
  font-size: 1.2rem;
}