/* 




.songLinkContainer {
  color: inherit;
  text-decoration: none;
}
.songCardContainer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.songCardContainer:hover {
  background-color: #0e0e0e;
  padding: 1rem;
}
.songCardContent {
  display: flex;
  align-items: center;
}
.songImg {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}
.songName {
  margin: 0;
  color: #eee;
}
.songArtists {
  margin: 0;
  margin-top: 5px;
  color: #aaa;
}
.songRemoveBtn {
  border: 1px solid #ccc;
  background-color: #00d86800;
  color: #ccc;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.songRemoveBtn:hover {
  cursor: pointer;
  background-color: #000;
}
*/



body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 2rem;
}

#root {
  height: calc(100vh - 4rem);
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ############ */
/* ## Navbar ## */
/* ############ */

.app_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_header {
  display: flex;
  align-items: center;
}

.app_logo {
  height: 3rem;
  margin-right: 1rem;
}

.login_btn {
  padding: 0.8rem 2rem;
  color: #121212;
  background-color: #00D869;
  border-radius: 4rem;
  border: 0;
  font-size: 1.2rem;
}

.login_btn:hover {
  background-color: #29b36c;
  cursor: pointer;
}

.logout_btn {
  padding: 0.8rem 2rem;
  color: #121212;
  background-color: #F5F5F5;
  border-radius: 4rem;
  border: 0;
  font-size: 1.2rem;
}

.logout_btn:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.app_content {
  height: 95%;
  margin: 0 10rem;
}

.app_user_section {
  display: flex;
  align-items: center;
}

.user_details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user_name {
  margin-bottom: 5px;
  font-weight: 500;
}

.user_email {
  color: #ccc;
  font-weight: 300;
}

.user_initial {
  margin: 0 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00D869;
  border-radius: 50%;
  color: #121212;
  font-size: 1.2rem;
}

/* #################### */
/* ## Prompt Message ## */
/* #################### */

.promtMessage_container {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #121212;
  border: 0.12rem dashed #fff;
}

.promtMessage_container:hover {
  background-color: #242424;
  cursor: pointer;
}

.promtMessageNot_container {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #121212;
  border: 0.12rem dashed #fff;
}

/* ################### */
/* ## Discover Page ## */
/* ################### */

.discover_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.suggestions_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.tagline_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.tagline_logo {
  height: 2.5rem;
  margin-right: 1rem;
}

.tagline_text {
  font-weight: 500;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.form_input_text {
  background-color: #242424;
  color: #F5F5F5;
  padding: 1rem;
  border: 0.12rem solid #F5F5F5;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  resize: none;
  font-family: "Montserrat", sans-serif, 'Material Icons';
}

.form_input_text:focus {
  outline: none;
  border: 0.12rem solid #aaa;
}

.form_input_select {
  background-color: #121212;
  color: #F5F5F5;
  border: 0.12rem solid #F5F5F5;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.second_line_form {
  display: flex;
  margin-top: 1.5rem;
  align-items: flex-end;
}

.second_line_form>div {
  flex: 3;
  margin-right: 1rem;
}

.second_line_form>button {
  flex: 1;
}

.form_input_btn {
  padding: 1rem 2rem;
  color: #121212;
  background-color: #00D869;
  border-radius: 4rem;
  border: 0.12rem solid #29b36c;
  font-size: 1.2rem;
}

.form_input_btn:hover {
  background-color: #29b36c;
  cursor: pointer;
}

.form_input_btn:disabled {
  cursor: not-allowed;
}

/* ################## */
/* ## CustomSelect ## */
/* ################## */

.customSelect_container {
  position: relative;
}

.customSelect_container::before {
  content: 'Number of songs you want in your playlist...';
  color: #666;
}

.select_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #242424;
  color: #f5f5f5;
  border: 0.12rem solid #f5f5f5;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 10px;
}

.selected_option {
  font-size: 1.2rem;
}

.arrow {
  font-size: 1rem;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border: 0.12rem solid #f5f5f5;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.options li:first-child {
  padding: 1rem;
  cursor: pointer;
  border-top: none;
}

.options li {
  padding: 1rem;
  cursor: pointer;
  border-top: 0.12rem solid #f5f5f5;
}

.options li:last-child {
  padding: 1rem;
  cursor: pointer;
  border-top: 0.12rem solid #f5f5f5;
}

.options li:first-child:hover {
  background-color: #333;
  border-radius: 1rem 1rem 0 0;
}

.options li:hover {
  background-color: #333;
}

.options li:last-child:hover {
  background-color: #333;
  border-radius: 0 0 1rem 1rem;
}


/* #################### */
/* ## PLAYLISTS PAGE ## */
/* #################### */

.results_container {
  margin: 0 10rem;
  margin-top: 5rem;
}

.results_label {
  color: #666;
  font-size: 0.9rem;
  margin-top: 5px;
}

.songs_container {
  margin-top: 3rem;
}

.playlist_form_container {
  margin-top: 3rem;
  display: flex;
}

.playlist_form_input {
  background-color: #242424;
  color: #F5F5F5;
  padding: 1rem 2rem;
  border: 0.12rem solid #F5F5F5;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  resize: none;
  flex: 3;
  margin-right: 1rem;
}

.playlist_form_input_btn {
  padding: 1rem 2rem;
  color: #121212;
  background-color: #00D869;
  border-radius: 4rem;
  border: 0.12rem solid #29b36c;
  font-size: 1.2rem;
  flex: 1;
}

.playlist_form_input_btn:hover {
  background-color: #29b36c;
  cursor: pointer;
}

.playlist_form_input_btn:disabled {
  cursor: not-allowed;
}

.playlist {
  margin-top: 3rem;
}

/* ############### */
/* ## SONG CARD ## */
/* ############### */

.song_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #171717;
  border-radius: 1rem;
}

.song_card_container:hover {
  background-color: #242424;
}

.song_card_left {
  display: flex;
  align-items: center;
}

.song_img {
  height: 5rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.song_name {
  font-weight: 400;
}

.song_artist {
  font-weight: 300;
  color: #aaa;
}

.song_btn {
  padding: 0.5rem 2rem;
  background-color: #121212;
  border: 1px solid #F5F5F5;
  border-radius: 2rem;
  color: #f5f5f5;
}

.song_btn:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #121212;
}

/* ################### */
/* ## PLAYLIST CARD ## */
/* ################### */

.playlist_card_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #171717;
  border-radius: 1rem;
  position: relative;
}

.playlist_card_container:hover {
  background-color: #242424;
}

.playlist_img {
  height: 12rem;
  width: 50%;
  flex: 1;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
}

.playlist_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.playlist_header {
  color: #666;
}

.playlist_name {
  font-size: 3rem;
  font-weight: 500;
}

.playlist_user {
  color: #666;
}



.playlist_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.playlist_card_container:hover .playlist_card_overlay {
  display: flex;
}

.play_button {
  background-color: #00D869;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.5s;
}

.play_button:hover {
  transform: scale(1.2);
}

/* #################### */
/* ## LOADING SCREEN ## */
/* #################### */

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loadingContainer {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.loadingSpinner {
  border: 6px solid #00D869;
  border-top: 6px solid #12121200;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}